@import './landing.scss';
@import './variables.scss';
@import './typography.scss';
@import './containers.scss';
@import './buttons.scss';
@import './inputs.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    background-color: $light-blue;
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
