@import './variables.scss';
.primary{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: $primary-green;
}

.button{
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    &:hover{
        cursor: pointer;
        background-color: darken($primary-green, 10%);
    }
}